/*
======================
Default Configuration
======================
*/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: OR;
  font-weight: 400;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
}

:root {
  --bg-color: #ffffff;
  --secondary-color: #000000;
  --button-color: #96b2db;
  --button-hover-color: #7da6e0;
  --container-color: #e4efff;

  --font-R: OR;
  --font-I: OI;

  --font-big-3: 2rem;
  --font-big-2: 1.7rem;
  --font-big-1: 1.4rem;
  --font-big-0: 1.2rem;
  --font-regular: 1.1rem;
  --padding-small: 2rem;
  --padding-1: 1rem 7%;
  --padding-2: 1rem 10%;
  --button-padding: 0.5rem 1rem;

  --gap-small: 1rem;
  --gap-medium: 1.5rem;
  --gap-large: 2rem;
}

[data-theme="dark"] {
  --bg-color: #232020;
  --secondary-color: #ffffff;
  --button-color: #508de9;
  --button-hover-color: #8196b4;
  --container-color: #44474d;
}

.DF {
  display: flex;
}

.FD-R {
  flex-direction: row;
}

.FD-C {
  flex-direction: column;
}

.DG {
  display: grid;
}

.PR {
  position: relative;
}

.show-flex {
  display: flex;
}

.show-grid {
  display: grid;
}

.hidden {
  display: none !important;
}

.center {
  justify-content: center;
  align-items: center;
}

header {
  /* padding-top: var(--padding-small);
  padding-bottom: var(--padding-small);
  padding-left: auto;
  padding-right: auto; */
}

/* 
===============
Header Section
===============
*/
header .wide-header {
  background-color: #deecff;
  align-items: center;
  justify-content: space-around;
  padding: var(--padding-1);
}

/* Wide Links */
.wide-header .wide-nav-container ul {
  list-style-type: none;
  gap: var(--gap-medium);
}

.wide-header .wide-nav-container ul li a {
  text-decoration: none;
  color: var(--secondary-color);
  text-wrap: nowrap;
}

/* Wide User Links */
.wide_user_links_container {
  gap: var(--gap-small);
}
