$primary-color: #333;

body {
  font-family: Arial, sans-serif;
  color: $primary-color;

  h1 {
    color: darken($primary-color, 10%);
  }

  figcaption {
    display: flex;
  }

  img {
    max-width: 100%;
  }
}
