main {
  margin: var(--padding-1);
}

main header {
  margin: 0 auto;
}

.gallery {
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  text-align: center;
  gap: 2rem;
}

.gallery-item figure img {
  max-width: 50%;
  min-width: 280px;
  border-radius: 10px;
}

.gallery-item figure figcaption {
  flex-grow: 1;
}

.gallery-item figure figcaption a {
  padding: var(--button-padding);
  background-color: var(--button-color);
}
